.top {
  background-color: #307ffd;
  margin: -8px;
  padding-top: 110px;
  padding-left: 15px;

  background-image: url(../img/pattern.png);
}
.logo {
  width: 270px;
}
h1 {
  font-size: 48px;
  margin-bottom: 0%;
}
.text-color {
  color: #307ffd;
}

p {
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(111, 111, 111);
}
summary {
  font-size: 12px;
}

.data {
  font-size: 20px;
  margin-top: 0px;
  color: rgb(111, 111, 111);
}

ul {
  padding-left: 20px;
}

table {
  border-collapse: collapse;
}

.tab-title {
  color: white;
}
